.border-content{
    padding-right: 40px;
}
.border_text{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 139.4%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.img_border{
    width:85px;
    height: 85px;
}
@media(max-width:990px){
    .border_text{
        font-size: 14px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
        padding-right: 5px;
    }
}
