.container_info{
    padding-left: 10px;
    padding-right: 10px;
}
.info_name{
    margin: 0px;
    font-family: Gilroy;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
    top: 70px;
    right: 80px;
}
.info_img{
    position: relative;
    width: 92px;
    height: 92px;
}

@media(max-width:1230px){
    .container_info{
        padding-right: 25px;
    }
    .info_name{
        margin: 0px;
        font-size: 12px;
        letter-spacing: 0.2px;
        top: 40px;
        right: 40px;
    }
    .info_img{
        width: 72px;
        height: 72px;
    }
}
// @media(max-width:730px){
//     .container_info{
//         padding-top: 30px;
//         padding-left: 5px;
//     }
//     .info_name{
//         margin: 0px;
//         font-size: 10px;
//         letter-spacing: 0.2px;
//         top: 50px;
//         right: 40px;
//     }
//     .info_img{
//         width: 62px;
//         height: 62px;
//     }
// }
