@import "header.scss";
@import "footer.scss";
@import "button.scss";
@import "textContent.scss";
@import "componentInformation.scss";
@import "componentTitle.scss";
@import "borderComponent.scss";
@import "contactUs.scss";
@import "portfolioSwitch.scss";
@import "switchSlide.scss";
@import "reviews.scss";


body{
    margin: 0px;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    
}
.header{
    background: rgba(0, 0, 0, 0.31);
}
.container-header-text{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-infos{
    margin-top: 240px; 
    padding-bottom: 45px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    backdrop-filter: blur(26px); 
    background: rgba(255, 255, 255, 0.2);
}
.container_maskGroup{
    height: 767px;
   
}
.container-group{
    display: flex;
    flex-direction: row;
}
.content_group{
    max-width: 238px;
    height: 220px;
    background: #FFB800;
    mix-blend-mode: normal;
    position: relative;
    z-index: 2;
    bottom: 225px;
    left: 305px;
}
.text_group{
    margin: 0px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-align: center;
}
.text_group2{
    margin: 0px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 139.4%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-align: center;
}
.container-text-group{
    margin: 150px 40px 0px 188px;
}
.title-text-group{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 139.4%;
    letter-spacing: 0.2px;
    color: #7C7C7C;
}
@media(max-width:1245px){
    .container-text-group{
        margin: 150px 40px 0px 100px;
    }
}
@media(max-width:1085px){
    .content-infos{
        margin-top: 100px; 
        padding-bottom: 45px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        backdrop-filter: blur(26px); 
        background: rgba(255, 255, 255, 0.2);
    }
    .container-header-text{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    .container_maskGroup{
        height: 470px; 
    }
    .container-group{
        display: flex;
        flex-direction: row;
        height: 651px;
    }
    .title-text-group{
        font-size: 18px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
    }
    .container-text-group{
        margin: 150px 10px 0px 100px;
    }
    .img_group{
        height: 650px;
    }
    .content_group{
        max-width: 158px;
        height: 140px;
        bottom: 145px;
        left: 305px;
    }
    .text_group{
        font-size: 40px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
    }
    .text_group2{
        font-size: 15px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
    }
}
@media(max-width:935px){
    .content_group{
        max-width: 158px;
        bottom: 145px;
        left: 305px;
    }
    .text_group{
        font-size: 40px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
    }
    .text_group2{
        font-size: 15px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
    }
}
@media(max-width:905px){
    .content-infos{
        margin-top: 80px; 
        padding-bottom: 65px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        backdrop-filter: blur(26px); 
        background: rgba(255, 255, 255, 0.2);
    }
    .container-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 951px;
        padding-top: 20px;

    }
   
    .title-text-group{
        font-size: 15px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
    }
    .container-text-group{
        margin: 5px 0px 0px 78px;
        max-width: 410px;
    }
    .img_group{
        max-width: 100%;
        height: 450px;
    }
    .content_group{
        max-width: 158px;
        height: 120px;
        bottom: 124px;
        left: 162px;
    }
    .text_group{
        font-size: 40px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
    }
    .text_group2{
        font-size: 15px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
    }
}
@media(max-width:765px){
    .content-infos{
        margin-top: 70px; 
        padding-bottom: 45px;
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-end;
        backdrop-filter: blur(26px); 
        background: rgba(255, 255, 255, 0.2);
    }
    .container-header-text{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-group{
        display: flex;
        flex-direction: column;
        height: 911px;
    }
}
@media(max-width:730px){
    .content-infos{
        margin-top: 40px; 
        padding-bottom: 25px;
        padding-left: 30px;
        backdrop-filter: blur(26px); 
        background: rgba(255, 255, 255, 0.2);
    }
}
@media(max-width:465px){
    .title-text-group{
        font-size: 15px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
    }
    .container-text-group{
        margin: 0px 0px 0px 38px;
    }
    .text_group{
        font-size: 40px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
    }
    .text_group2{
        font-size: 15px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
    }
    .container-group{
        display: flex;
        flex-direction: column;
        height: 931px;
    }
}
.content-bacground{
    padding-left: 40px;
    padding-top: 65px;
    padding-bottom: 90px;
    background: #000000;
}
.content-border{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    
}
@media(max-width:910px){
    .content-border{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        
    }
}
@media(max-width:620px){
    .content-border{
        display: flex;
        justify-content: center;
    }
}
@media(max-width:920px){
    .content-bacground{
        padding-left: 105px;
        padding-top: 65px;
    }
}
@media(max-width:645px){
    .content-bacground{
        padding-left: 10px;
        padding-top: 65px;
    }
}
.contactUs-container{
    padding-top: 20px;
    padding-bottom: 40px;
    background: #FFB800;
}
.delet{
    display: none;
}
.container-portfolio{
    padding-top: 70px;
}
.delet{
    text-decoration: none;
    transition: 0.5s;
}
@media(max-width:455px){
   
    .container-header-text{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}